/docs                   export-ignore
/docker                 export-ignore
/tests                  export-ignore
/config                 export-ignore
/setting                export-ignore
/public                 export-ignore
/storage                export-ignore
/.github                export-ignore
/.php_cs                export-ignore
.editorconfig           export-ignore
.gitattributes          export-ignore
.gitignore              export-ignore
.example.env            export-ignore
composer.lock           export-ignore
phpstan.neon.dist       export-ignore
phpunit.xml.dist        export-ignore
phpunit.xml.dist.bak    export-ignore
CHANGELOG.md            export-ignore
CONTRIBUTING.md         export-ignore
README.md               export-ignore
Taskfile.yml            export-ignore
docker-compose.yaml     export-ignore
.htaccess               export-ignore
console                 export-ignore
pint.json               export-ignore
